    <div class="wrapper">
        <div class="header-filter" style="background-image: url('assets/contact-us-header.jpg');">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="brand">
							<h2><strong>Simple & Affordable Plans With No Hidden Fees</strong></h2>
						</div>
					</div>
				</div>
			</div>
	    </div>

		<div class="main main-raised">
			<div class="section section-basic">
				<div class="container">
				    <div class="pricing-2">
		    			<div class="row">
		    				<div class="col-md-6 col-md-offset-3 text-center">
		    					<ul class="nav nav-pills" role="tablist">
		    						<li class="active">
		    							<a href="" role="tab" data-toggle="tab">
		    								Monthly
		    							</a>
		    						</li>
		    						<li>
		    							<a href="" role="tab" data-toggle="tab">
		    								Yearly
		    							</a>
		    						</li>
		    					</ul>
		    				</div>
		                </div>
		            </div>
		        </div>        
            
				<div class="container">
		            <div class="row">
						<div class="col-md-3">
							<div class="card2 card-pricing card-plain">
								<div class="card-content">
									<h6 class="category text-info">Free</h6>
									<h1 class="card-title"><small>$</small>0<small>/mo</small></h1>
									<ul>
										<li><b>1</b> Project</li>
										<li><b>5</b> Team Members</li>
										<li><b>55</b> Personal Contacts</li>
										<li><b>5.000</b> Messages</li>
									</ul>
									<a href="#pablo" class="btn btn-rose btn-raised btn-round">
										Get Started
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="card2 card-pricing card-raised">
								<div class="card-content content-rose">
									<h6 class="category text-info">Premium</h6>
									<h1 class="card-title"><small>$</small>89<small>/mo</small></h1>
									<ul>
										<li><b>500</b> Projects</li>
										<li><b>50</b> Team Members</li>
										<li><b>125</b> Personal Contacts</li>
										<li><b>15.000</b> Messages</li>
									</ul>
									<a href="#pablo" class="btn btn-white btn-raised btn-round">
										Get Started
									</a>
								</div>	
							</div>
						</div>

						<div class="col-md-3">
							<div class="card2 card-pricing card-plain">
							    <div class="card-content">
									<h6 class="category text-info">Platinum</h6>
									<h1 class="card-title"><small>$</small>199<small>/mo</small></h1>
									<ul>
										<li><b>1000</b> Projects</li>
										<li><b>100</b> Team Members</li>
										<li><b>550</b> Personal Contacts</li>
										<li><b>50.000</b> Messages</li>
									</ul>
									<a href="#pablo" class="btn btn-rose btn-raised btn-round">
										Get Started
									</a>
							    </div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="card2 card-pricing card-raised">
								<div class="card-content content-rose">
									<h6 class="category text-info">Premium</h6>
									<h1 class="card-title"><small>$</small>89<small>/mo</small></h1>
									<ul>
										<li><b>500</b> Projects</li>
										<li><b>50</b> Team Members</li>
										<li><b>125</b> Personal Contacts</li>
										<li><b>15.000</b> Messages</li>
									</ul>
									<a href="#pablo" class="btn btn-white btn-raised btn-round">
										Get Started
									</a>
								</div>	
							</div>
						</div>
		            </div>
		        </div>
		    </div>    
	        <hr width="90%" size="8" align="center">
            <div class="section">
                <div class="text-center">
                    <h3 class="title">Frequently Asked Questions</h3>
                </div>
                <div class="row">
    				<div class="col-md-4 col-md-offset-2">
    		           	<div class="info info-horizontal">
    						<div class="icon icon-info">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">Can candidates upload edited videos?</h4>
    							<p>Dropque is all about flexibility. With the ability to ask candidates to upload files, Candidates can upload their graphic design portfolio, video snippets, images and even audio files.</p>
    						</div>
    		        	</div>
    		        </div>

    				<div class="col-md-4">
    					<div class="info info-horizontal">
    						<div class="icon icon-success">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">Can I add collaborators to help me assess my candidates’ videos?</h4>
    							<p>Yes you can! The number of Collaborator seats you have varies based on which Dropque plan you are subscribed to.</p>
    						</div>
    					</div>
    				</div>
                </div>
                <div class="row">
    				<div class="col-md-4 col-md-offset-2">
    		           	<div class="info info-horizontal">
    						<div class="icon icon-rose">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">Is this the same as using Skype or any of the Live conferencing and calling software?</h4>
    							<p>Dropque is not the same as using a video conferencing software. Unlike video conferencing, Dropque’s One Way Video Interviewing software is built specifically with flexibility for the Interviewer and candidate in mind. The candidate and interviewer are not online at the same time - eliminating scheduling and reducing the time spent conducting interviews. Dropque  video interview recordings can be accessed securely by stakeholders when added as collaborators eliminating the need to organize Panel Interviews on video conference.</p>
    						</div>
    		        	</div>
    		        </div>

    				<div class="col-md-4">
    					<div class="info info-horizontal">
    						<div class="icon icon-info">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">Does this allow me to drill deeper with follow up questions?</h4>
    							<p>We recommend that Interviewers include a range of open-ended questions to determine the best candidates to bring to the next round. Line Managers are encouraged to submit role and technically specific questions enabling a more in-depth interview right from the early stage.
Candidates are then able to elaborate on their responses and showcase their personality and communication abilities.
</p>
    						</div>
    					</div>
    				</div>
                </div>
                <div class="row">
    				<div class="col-md-4 col-md-offset-2">
    		           	<div class="info info-horizontal">
    						<div class="icon icon-success">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">Do Candidates need to be tech savvy to use Dropque?</h4>
    							<p>No. With our carefully designed Interviewer dashboard and Applicant portal, creating and taking an interview is simple beyond belief.</p>
    						</div>
    		        	</div>
    		        </div>

    				<div class="col-md-4">
    					<div class="info info-horizontal">
    						<div class="icon icon-rose">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">Does this only work for Volume or Graduate recruitment?</h4>
    							<p>Dropque’s one way video interviewing software is not restricted to volume or graduate recruitment. It’s use in recruiting for senior and niche roles endears you to Candidates who are more often than not passive in searching for a new role. The easier you make the interactions with these types of Candidates the more likely they will be to go through your process to the end and increase your chances of finding the right fit for that role.</p>
    						</div>
    					</div>
    				</div>
                </div>
                <div class="row">
    				<div class="col-md-4 col-md-offset-2">
    		           	<div class="info info-horizontal">
    						<div class="icon icon-info">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">What happens after my free trial?</h4>
    							<p>If you don’t subscribe to a plan, you will have access to your jobs/data for 30 days before we remove the account.</p>
    						</div>
    		        	</div>
    		        </div>

    				<div class="col-md-4">
    					<div class="info info-horizontal">
    						<div class="icon icon-success">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">What happens if I exceed the limits of my free account?</h4>
    							<p>Dropque will auto upgrade your account to the appropriate paid plan.</p>
    						</div>
    					</div>
    				</div>
                </div>
                <div class="row">
    				<div class="col-md-4 col-md-offset-2">
    		           	<div class="info info-horizontal">
    						<div class="icon icon-rose">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">What if we hire very occasionally?</h4>
    							<p>No problem! Contact us and we’ll find a plan that works for you.</p>
    						</div>
    		        	</div>
    		        </div>

    				<div class="col-md-4">
    					<div class="info info-horizontal">
    						<div class="icon icon-info">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">Is there a fee for implementation?</h4>
    							<p>No, Dropque is a 100% web based software, there’s no “implementation”, you’re up and running in no time.</p>
    						</div>
    					</div>
    				</div>
                </div>
                <div class="row">
    				<div class="col-md-4 col-md-offset-2">
    		           	<div class="info info-horizontal">
    						<div class="icon icon-success">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">Can I pause my subscription if I'm not hiring?</h4>
    							<p>All plans can be downgraded at any time and all your data is kept for you for 30 days. You can pay a small data maintenance fee to keep your data beyond the 30 days until your next recruitment. You can whenever you want upgrade back to the plan of your choice.</p>
    						</div>
    		        	</div>
    		        </div>

    				<div class="col-md-4">
    					<div class="info info-horizontal">
    						<div class="icon icon-rose">
    							<i class="material-icons">keyboard_arrow_right</i>
    						</div>
    						<div class="description">
    							<h4 class="info-title">Can we have personal support?</h4>
    							<p>Absolutely! Contact us and we’ll tell you more about our custom plans which include a dedicated Account Manager.</p>
    						</div>
    					</div>
    				</div>
                </div>
            </div>
        </div>
        <footer class="footer">
		    <div class="container">
		        <!-- <nav class="pull-left">
		            <ul>
						<li>
							<a href="#">
							   About Us
							</a>
						</li>
						<li>
							<a href="#">
								Terms
							</a>
						</li>
		            </ul>
		        </nav> -->
		        <div class="copyright pull-right">
		            &copy; 2016, Dropque
		        </div>
		    </div>
	    </footer>
	</div>