option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"
  - option_name: AWS_ACCESS_KEY
    value: "AKIAJ2XWXLB4HMCZHP5Q"
  - option_name: AWS_SECRET_KEY
    value: "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"
  - option_name: AWS_BUCKET
    value: "dropque-staging"
  - option_name: ROLLBAR_ACCESS_TOKEN
    value: "2ecadf97adb34427a7b7dc4f4c95fc23"
  - option_name: SENDGRID_PASSWORD
    value: "2pschp8o7050"
  - option_name: SENDGRID_USERNAME
    value: "app59659234@heroku.com"
  - option_name: DATABASE_URL
    value: "postgres://rkzewcajelraga:ZnZibdJoSK3WyWhWSjicvzvYwt@ec2-107-20-166-28.compute-1.amazonaws.com:5432/d1jdu5oc5qovn0"

packages:
  yum:
    git: []
