 <nav class="navbar navbar-default dq-interview-navbar dq-color-customized" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            
            <%  if @company.logo.file.nil? %>
                 <%= image_tag('dqbeta.png', height:"40") %>
               <% else %>
                  <img src="<%= @company.logo %>" alt="" height="40"/>
               <% end %>
          </a>
       </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
            <% if !@user.nil? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Hi, <%= @user.name %>  </a>
            <% end %>
           </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>