 <!-- TODO Add header Partial -->
     <%= render partial: "header" %>

    <div class="container">
      <div class="row dq-page-container">
        <span class="fa fa-5x fa-thumbs-o-up dq-page-icon"></span>
      </div>
      <hr>
      <div class="dq-interview-question" style="white-space: pre-line; font-size: 1.5em;"> <%= (@interview.completed_message) %> </div>
      <hr>

      

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dq-interview-bottom-toolbar">
          <a href="/applicants" type="button" class="btn btn-md dq-color-customized"> Home </a>
        </div>
      </div>
    </div>