 <!-- TODO Add header Partial -->
        <%= render partial: "header" %>

    <div class="container">
            <div class="row dq-page-container ">
              <div class="dq-inner-video-2">
                 <br>
                 <span class="fa fa-4x fa-times dq-page-icon"></span>
                <hr>
                  <h5><strong> Unavailable </strong></h5>
                 <div  style="white-space: pre-line; font-size: 1.5em;"> 
                  <!-- This Interview is no longer receiving applications as the set deadline has passed -->

                  Hi, This interview is temporarily down for maintainance, we will be back online shortly.

                  Please note that you will be able to continue from where you left off.

                  We apologize for any inconvenience

                </div>
                 <hr>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dq-interview-bottom-toolbar">
          <a href="/" type="button" class="btn btn-md dq-color-customized"> Interview Home Page </a>
        </div>
      </div>

  </div>


