 <!-- TODO Add header Partial -->
        <%= render partial: "header" %>

    <div class="container">
      <form  id="form-register" method="post" action="/applicants">    
         

            <div class="row dq-page-container ">
              <div class="dq-inner-video-2">
                             
                 <br><br><br>
                 <span class="fa fa-4x fa-user dq-page-icon"></span>
                <br><br><br>


                 <input  id="email-box" class="form-control dq-inner-video-1 " placeholder="Enter email address" name="email">

                 <input type="hidden" value="details" name="page" >
                 <input type="hidden" id= "create" name="create" value="no" >
                 <input type="hidden" name="interview_id" value="<%=  @interview.id %>" >
                 <input hidden  id="name-box" class="form-control dq-inner-video-1" placeholder="FirstName LastName" name="name" />
                </div>
            </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dq-interview-bottom-toolbar">
                <!-- add csrf token -->
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>                          
              <button id="continue" class="btn btn-md dq-color-customized"> Continue </button>
            </div>
          </div>

       </form>
    </div>



<script >

$.notify.addStyle('happyblue', {
  html: "<div><span data-notify-text/></div>",
  classes: {
    base: {
      "opacity": "0.90",
      "width": "200px",
      "background": "#CCCCCC",
      "padding": "5px",
      "margin": "5px",
      "border-radius": "10px"
    },
    menu: {
      "opacity": "0.90",
      "width": "200px",
      "background": "#CCCCCC",
      "padding": "5px",
      "margin": "5px",
      "border-radius": "10px",
      "color":"black"

    }
  }
});



  $("#name-box").hide();

  var trigger = false;

  $("#continue").click(function(event){

     event.preventDefault();
     var email = $("#email-box").val();

    if (trigger && $("#name-box").val() == ""){

      $("#name-box").notify("Name field cannot be empty", {
              style: 'happyblue',
              className: 'menu',
              position: "top center"
            });

    }else if (validateEmail(email)){

      $.ajax({
          url: '/validate_email', 
          type: 'GET',
          data: { email: email },
          success: function(data){
              if (data == "success" || trigger ){
                  $("#form-register").submit();
              } else {
                  trigger = true
                  $("#email-box").prop("readonly", true);
                  $("#name-box").show();
                  $("#create").val("yes");
             }
          },
          error : function(jqXHR, textStatus, errorThrown) {
               
           }
       }); 


    } else {
        $("#email-box").notify("Invalid email address or name", {
              style: 'happyblue',
              className: 'base',
              position: "top center"
            });
       }


       


    });


  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }

</script>