
 <!-- TODO Add header Partial -->
        <%= render partial: "header" %>

    <div class="container">
      <form  id="form-register" method="post" action="/applicants">

            <div class="row dq-page-container ">
              <div class="dq-inner-video-2">
                 <br>
                <h5> Description </h5>
                <hr>
                 <div  style="white-space: pre-line; font-size: 1.0em;"> 
                  <%= @interview.description %> 
                </div>
                 <hr>
                <br>

                 <input type="hidden" value="details" name="page" >
                 <input type="hidden" name="interview_id" value="<%=  @interview.id %>" >
                </div>
            </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dq-interview-bottom-toolbar">
                <!-- add csrf token -->
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
              <button id="continue" class="btn btn-md dq-color-customized"> Continue </button>
            </div>
          </div>

       </form>
    </div>



  <script>

    $("#continue").click(function(event){
      $("#form-register").submit();        
    });

  </script>
