<div class="sidebar-wrapper">

            <div class="logo align">            
                  <%= image_tag('dqlg.png') %>           
             </div>


            <ul class="nav">
        
                <li  class="active"> 
                     <a href="#">
                        <i class="ti-control-play"></i>
                        <p>QueBox</p>
                     </a>
                </li>
                  
                <li  class="">
                    <a href="#">
                        <i class="ti-check-box"></i>
                        <p>Shortlisted</p>
                   </a>

                </li>
                           
            </ul>	
    	</div>
    </div>

