<div class="sidebar-wrapper">

            <div class="logo align">            
                  <%= image_tag('dqlg.png') %>           
             </div>


            <ul class="nav">
                <br>
                <li  class="active"> 
                     <a href="#">
                        <i class="ti-user"></i>
                        <p>Profile</p>
                     </a>
                </li>
                  
                <li  class="">
                    <a href="#">
                        <i class="ti-folder"></i>
                        <p>Applications</p>
                   </a>
                </li>

                <li  class="">
                    <a href="#">
                        <i class="ti-search"></i>
                        <p>Interviews</p>
                   </a>
                </li>
                           
            </ul>	
    	</div>
    </div>

