

<div class="row">

    <div class="col-lg-12 col-md-12">
        <div class="card">

        <div class="row sharing-area text-center">
            <br> <br> <br> <br>                         
            <h5>You didn't belong to any organization, create one now</h5>

             <br> <br> <br> 

             <%= link_to new_company_path do %>
                <button  type="button" class="btn btn-raised btn-twitter">New Organization</button>

               <br><br> <br>   
            <% end %>
        </div>
        </div>
    </div>
</div>
    