
<div class="wrapper">

 <div class="sidebar" data-background-color="white" data-active-color="danger">

<!-- TODO Add Sidebar Panel -->
    <%= render partial: "applicant_sidebar" %>
     
    <div class="main-panel">
        
        <!-- TODO Add Footer Partial -->
        <%= render partial: "navbar" %>


        

             <object type="text/html" data="/listing-inner" style="width:100%; height:100%"> </object>

             


    </div>
</div>
</div>




