                        <div class="col-md-8 col-md-offset-2">
                            <div class="content">

                          <div class="row">

            <div class="col-lg-6 col-md-6">
        <div>

        <div class="row sharing-area text-center">
            <br> <br> <br> <br>
            <h2> Applicant</h2>

             <%= link_to new_company_path do %>
                <button  type="button" class="btn btn-raised btn-twitter">Build Career Profile</button>

               <br><br> <br>
            <% end %>
        </div>
        </div>
    </div>

       <div class="col-lg-6 col-md-6">
        <div>

        <div class="row sharing-area text-center">
            <br> <br> <br> <br>
            <h2>Interviewer</h2>



             <%= link_to new_company_path do %>
                <button  type="button" class="btn btn-raised btn-twitter">Create Organization Profile</button>

               <br><br> <br>
            <% end %>
        </div>
        </div>
    </div>
</div>
                            </div>
                          </div>