<div class="container">
	<br><br>
    <div class="logo-container">
            <div class="text-center">
              <%= image_tag('dqlg.png')%>
            </div>                    
    </div>
  <div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">         
                    <div class="card card-signup">
                      <div class="form">
                          <div class="header header-primary text-center">
                           
                               <h2>  Demo  </h2>
                            
                          </div>
                            <div class="content">



                            	<div class="input-group">
                            		<br>
                                     <!--  <span class="input-group-addon">
	                                     <i class="material-icons">email</i> <br>
	                                     demo_user@dropque.com
	                                  </span>  -->
	                                                
                                                                 
                                 </div>

                                 <br>
                                 <hr>

                                 
                                  <div class="text-center">
                                  	<a href="<%= trigger_login_path %>" class= "btn btn-primary btn-raised"> Get Stared</a>
                                   
                                  </div>






                                
                                      
                            </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
  </div>
</div>
             