<h1>Editing Bulk</h1>
<%= form_for(@bulk, url: {action: 'update'}) do |f| %>

<%= render 'form', f: f %>
<%end%>

<%= link_to 'Show', company_group_bulks_path %> |
<%= link_to 'Back', company_group_bulks_path %>
