
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="success">
    
<!-- TODO Add Sidebar Panel -->
 <%= render partial: "companies/sidebar" %>
<div class="main-panel">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                   
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            
                            <h1>Groups#create</h1>
<p>Find me in app/views/contacts/create.html.erb</p>


                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

