
<div class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div >
                    <div class="row sharing-area text-center">
                        <br> <br> <br> <br>                         
                        <h3>Welcome to your Dropque dashboard!</h3>
                        <h5> Start by creating an interview </h5>

                     <%= link_to new_company_interview_path(params[:company_id] || params[:id]) do %>
                        <button  type="button" class="btn btn-raised btn-twitter">Create an interview</button>
                    <% end %>


                        <br> <br> <br> <br><br> <br>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>