
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="success">

<!-- TODO Add Sidebar Panel -->
     <%= render partial: "companies/sidebar" %>
    <div class="main-panel">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>
   
        
                
          

 </div>
</div>
</div>