
<div class="wrapper">


    <div class="main-panel expand">

        <!-- TODO Add Footer Partial -->
        <%= render partial: "users/navbar" %>


        <div class="content">
            <div class="container-fluid">

                <div style="width : 60%; margin: auto ;">
                        <div class="card box-shape">
                            <div class="header" id="header">
                                <h4 class="title">New Company</h4>
                            </div>
                            <div class="content">
                             
                                <form id="form" method="post" enctype="multipart/form-data" action="/companies">
                                  <div id="new-company-path">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Company Name</label>
                                                <input id="company-name" type="text" class="form-control border-input"  placeholder="Company" name="name">
                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label >Subdomain</label>
                                                <input id="company-subdomain" type="text" class="form-control border-input"  placeholder="subdomain" name="subdomain"> 
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>  &nbsp;  </label>
                                                 <input type="text" class="form-control border-input"  value=".dropque.com" disabled="" > 
                                               
                                            </div>
                                        </div>
                                    </div>

            

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control border-input" placeholder="Company Address" class="address" name="address">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control border-input" placeholder="City" name="city">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control border-input" placeholder="Country" name="country"  >
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea rows="5" class="form-control border-input" placeholder="Description" name="description">
                                            </textarea> 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label >Tags</label>
                                                <input type="text" id="tags" class="form-control border-input"  placeholder="Tags" name="tags">
                                            </div>
                                        </div>
                                    </div>
                                    


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="file-upload" class="btn custom-upload">
                                                    <input id="file-upload" type="file" name="logo">
                                                    Add Logo </label>
                                                    <div class="text-center">
                                                        <label> Transparent 330 X 80 pixels </label>
                                                    </div>
                                                    

                                                      
                                            </div>
                                        </div>
                                    </div>

                                    <!-- add csrf token -->
                                    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 

                                    <!-- hiddden user's id -->
                                    <input type="text" name="user_id" value="<%= @user.id %>" hidden >
                                    <!-- hiddent stringify emails for collaboartions -->
                                    <input type="text" id="collaborate-json" name="collaborators_list"  hidden>
                                    </div>
                                     <div id="collaborator-path">
                                        <div class="header">
                                            <h4 class="title float-left">Add Collaborator(s)</h4>
                                            <btn id="add-collaborator" class='btn add-collaborator'><i class='ti-plus'></i></btn>
                                            <br><br>
                                        </div>
                                        <div class="content">

                                            <div id="collaborator-content" >
                                                <div class='row'>
                                                    <div class='col-md-6'>
                                                     <div class='form-group'>
                                                        <input type='text' class='form-control border-input box-shape' style='height: 36px ;'  placeholder='email'>
                                                    </div>
                                                    </div>
                                                    <div class='col-md-6'>
                                                        <select class='btn box-shape-1' >
                                                            <option value='1'> admin </option>
                                                            <option value='2'> user</option>
                                                        </select>
                                                        <btn class='btn box-shape width-perfect remove-new-collaborator' ><i class='ti-close'></i></btn>
                                                    </div>
                                                </div>
                                                   

                                            </div>

                                                <br><br>

                                                

                                                
                                                <div class="text-center">
                                                    <button  id="create-company" type="submit" class="btn btn-info btn-fill btn-wd"> Add Collaborators </button>
                                                </div>
                                                <div class="clearfix"></div>
                                           
                                        </div>
                                    </div>

                                   
                                  </form>
                                
                                    <div class="text-center">
                                        <button id="continue" type="submit" class="btn btn-info btn-fill btn-wd"> Continue </button>
                                    </div>

                                    <div class="text-center">
                                        <a id="skip" href="#"> Skip Now </a>
                                    </div>
                               
                            </div>
                        </div>
                       

                       
                    </div>                
            </div>
        </div>

    </div>
</div>


<div hidden id="sample">
    <div class='row'>
        <div class='col-md-6'>
         <div class='form-group'>
            <input type='text' class='form-control border-input box-shape' style='height: 36px ;'  placeholder='email'>
        </div>
        </div>
        <div class='col-md-6'>
            <select class='btn box-shape-1' >
                <option value='1'> admin </option>
                <option value='2'> user</option>
            </select>
            <btn class='btn box-shape width-perfect remove-new-collaborator' ><i class='ti-close'></i></btn>
        </div>
    </div>
</div>



<!-- javascript for this particular page -->
<script> 

    $("#collaborator-path").hide();
    $("#skip").hide();
    $("#continue").click(function(){
        if ($("#company-name").val() == "" || $("#company-subdomain").val() == ""){
            showMessage('top','right', "Organization name or subdomain cannot be empty", 4);
        } else {
            $(this).hide();
            $("#header").hide();
            $("#new-company-path").hide();
            $("#collaborator-path").show();
            $("#skip").show();
        }
    });

    $("#skip").click(function(){
        $("#collaborate-json").val(JSON.stringify([]));
        $("#form").submit();
    });

    $("#create-company").click(function(event){

        jsonObj = [];

         $("#collaborator-content").find(".row").each(function(index) {
             var emailObject = $(this).find("input");
             var email = emailObject.get(0).value ;
             var statusObject = $(this).find("option:selected");
             var status = statusObject.get(0).value;
             
             if (!email || !status){
                // check if email or status is empty
                showMessage('top','right', "Email cannot be empty", 4);
                event.preventDefault();

             } else{
                
                collaborateItem = {}
                collaborateItem["email"] = email;
                collaborateItem["status"] = status ;
                jsonObj.push(collaborateItem);
             }
             
        });

            $("#collaborate-json").val(JSON.stringify(jsonObj));
         

    });

    
    $("#add-collaborator").click(function(){
        $("#collaborator-content").append($('#sample').html());
    });


    //  remove added collaborators
     $("#collaborator-content").on("click", ".remove-new-collaborator", function(){
        $(this).parents('div.row')[0].remove();
    });


     // this is the script responsible for tags
  
    $('#tags').tagit({
        tagLimit: 4,
        placeholderText: "Add tags",
        onTagLimitExceeded : function(event, ui){
            // $("#indicator-tags").html("Tags cannot be more than four");
        }

    });


</script>


