
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
       	
<!-- TODO Add Sidebar Panel -->
    <%= render partial: "sidebar" %>
    <div class="main-panel">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>

        <iframe src="http://oncenout.localhost:3000/" style="border:none; height: 100%; width: 100%"></iframe>


    </div>
    </div>
</div>



