
<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
       	
<!-- TODO Add Sidebar Panel -->
    <%= render partial: "sidebar" %>
    <div class="main-panel">
<!-- TODO Add Navbar Panel -->
    <%= render partial: "users/navbar" %>

       <!--  <div class="content">
            <div class="container-fluid">
               
            </div>
        </div> -->

     
        <iframe src="http://testing.testing.localhost:3000/applicants" style="border:none; height: 100%; width: 100%"></iframe>


    </div>
    </div>
</div>



