<div><span class="m_-1047900689410319584sg-image"><img height="38" src="https://www.dropque.com/assets/dqlg-c4bb39f88d1ef9bbb176d989f7066878d190307e64abefcd220ec83167477e67.png" style="width:132px;height:38px" width="132" class="CToWUd"></span><br>

<br>

<span style="font-size:18px"><strong> Hello <%=@name%>!</strong></span><br>

<br>

<span id="m_-1047900689410319584docs-internal-guid-95370a05-1690-f9c7-fc11-d00498893844"><span style="font-size:16px;font-family:Arial;color:rgb(34,34,34);vertical-align:baseline;white-space:pre-wrap;background-color:rgb(255,255,255)">Welcome to Dropque - The fastest way to interview candidates anytime, anywhere in the world. </span></span>

<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt"><br>

<span id="m_-1047900689410319584docs-internal-guid-95370a05-1691-478f-9522-48de4f6bf819"><span style="font-size:16px;font-family:Arial;color:rgb(34,34,34);vertical-align:baseline;white-space:pre-wrap;background-color:rgb(255,255,255)">Dropque enables you to: </span></span></p>

&nbsp;



<ul style="margin-top:0pt;margin-bottom:0pt">

  <li dir="ltr" style="list-style-type:disc;font-size:16px;font-family:Arial;color:rgb(34,34,34);vertical-align:baseline;background-color:rgb(255,255,255)">

  <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt"><span id="m_-1047900689410319584docs-internal-guid-95370a05-1691-478f-9522-48de4f6bf819"><span style="vertical-align:baseline;white-space:pre-wrap">Post Your open job positions to diverse pool of talents </span></span></p>

  </li>

  <li dir="ltr" style="list-style-type:disc;font-size:16px;font-family:Arial;color:rgb(34,34,34);vertical-align:baseline;background-color:rgb(255,255,255)">

  <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt"><span><span style="vertical-align:baseline;white-space:pre-wrap">Easily interview these talents via our one-way secure video interviews</span></span></p>

  </li>

  <li dir="ltr" style="list-style-type:disc;font-size:16px;font-family:Arial;color:rgb(34,34,34);vertical-align:baseline;background-color:rgb(255,255,255)">

  <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt"><span id="m_-1047900689410319584docs-internal-guid-95370a05-1691-478f-9522-48de4f6bf819"><span style="vertical-align:baseline;white-space:pre-wrap">Collaboratively assess talents to make quality shortlist </span></span></p>

  </li>

  <li dir="ltr" style="list-style-type:disc;font-size:16px;font-family:Arial;color:rgb(34,34,34);vertical-align:baseline;background-color:rgb(255,255,255)">

  <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt"><span id="m_-1047900689410319584docs-internal-guid-95370a05-1691-478f-9522-48de4f6bf819"><span style="vertical-align:baseline;white-space:pre-wrap">Reach out to final shortlist</span></span></p>

  </li>

</ul>

&nbsp;



<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt"><span id="m_-1047900689410319584docs-internal-guid-95370a05-1691-d3c1-f81d-ae64e987b939"><span style="font-size:16px;font-family:Arial;color:rgb(34,34,34);vertical-align:baseline;white-space:pre-wrap;background-color:rgb(255,255,255)">Go to your dashboard now to get started.</span></span></p>



<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">&nbsp;</p>





<table cellpadding="0" cellspacing="0" width="100%">

  <tbody>

    <tr>

      <td style="background-color:#5E327A;border-radius:0px;color:#ffffff;display:inline-block;font-family:'Lato',Helvetica,Arial,sans-serif;font-weight:bold;font-size:13px;line-height:33px;text-align:center;text-decoration:none;width:150px"><a href="<%=@dashboard%>" style="text-decoration:none" target="_blank" data-saferedirecturl=""><span style="color:#ffffff">Go to Dashboard</span></a></td>

    </tr>

  </tbody>

</table>





<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">&nbsp;</p>



<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt"><span id="m_-1047900689410319584docs-internal-guid-95370a05-1692-3159-bf05-b6e3352929a8"><span style="font-size:16px;font-family:Arial;color:rgb(34,34,34);vertical-align:baseline;white-space:pre-wrap;background-color:rgb(255,255,255)">Congratulations as you with work with us to get best and ideal candidates for your business.</span></span></p>



<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt">&nbsp;</p>



<p dir="ltr" style="text-align:justify;line-height:1.38;margin-top:0pt;margin-bottom:0pt"><span id="m_-1047900689410319584docs-internal-guid-95370a05-1692-9709-922d-eb7bf1b823d1"><span style="font-size:16px;font-family:Arial;color:rgb(34,34,34);vertical-align:baseline;white-space:pre-wrap;background-color:rgb(255,255,255)">Best regards,</span></span></p>



<p dir="ltr" style="text-align:justify;line-height:1.38;margin-top:0pt;margin-bottom:0pt"><span id="m_-1047900689410319584docs-internal-guid-95370a05-1692-9709-922d-eb7bf1b823d1"><span style="font-size:16px;font-family:Arial;color:rgb(34,34,34);vertical-align:baseline;white-space:pre-wrap;background-color:rgb(255,255,255)">The Dropque Team</span></span></p>



<div> </div>

</div>