
.wrap {
	position: relative;
	bottom: 0;  
	margin:  0px;
	padding: 0px;

}

/* Frame */
.frame {
	height: 90px;
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 20px;
}
.frame ul li {
	float: left;
	width: 120px;
	height: 80%;
	margin: 0 1px 0 0;
	padding: 0;
	background: #66615b;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul li.active {
	color: #fff;
	background: #5e337b;
}

/* for inner element*/
.dq-icon{
  text-align: center;
  margin: 6% auto; 
}

 /*Scrollbar */
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* make major view content centralized */
.centralize{
  text-align: center;
  display: block;
  padding: 0px;
  margin: 0px auto; 
  width: 100%;
}

/* make video content centralized */
.centralize-video{
  text-align: center;
  margin: 0 auto; 
  padding: 0px;
}



 /*make modal ful screen*/
.modal-dialog {
  width: 85%;
  height: 90%;
  padding: 0;

}

.modal-content {
  height: 99%;
  min-height: 100%;
}

.download-button{
	text-align: center;
  	display: block;
  	width: 60%;
  	margin-top: 40% auto ;
  	margin-left: 20%;
  	margin-right: 20%;
 
}

.star img{
	height: 20px;
	width: 20px;
}

.star img.raty-cancel{
	display: none;
	
}

.full-fix{
	overflow-y: auto;
	/*padding: 10px;*/
}

.major-view{
	overflow-y: auto;
}

div.card.main{
	cursor: pointer;
}

.padding-5{
  padding: 10px;

}

/* modal backdrop for boostrap*/
.modal-backdrop
{
    opacity:0.9 !important;
}

.modal-body{
	height: 90%;
}

.max-height-width{
	max-width: 199px;
	max-height: 150px;
}


/*set max height and max weight*/
